.Comment--header {
  
}

.Comment--body {
  margin-bottom: 10px;
}

.Comment .Comment {
  margin-left: 10px;
}

@media screen and (min-width: 576px) {
  .Comment .Comment {
    margin-left: 50px;
  }

  .Comment-body {
    margin-bottom: 20px;
  }
}