.StoryRow {
  padding: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.StoryRow * {
  color: white;
}

.StoryRow--index {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  min-width: 30px;
  color: gray;
}

.StoryRow .title {
  margin-bottom: 5px;
}

.StoryRow--right {
  display: inline-block;
  margin-left: 15px;
}

.StoryRow--info h2:first-child {
  margin-left: 0;
  margin-bottom: 0px;
}

.StoryRow--info h2 {
  display: inline-block;
  margin-left: 5px;
}

.StoryRow--info .subtitle {
  margin-bottom: 0px;
}

@media screen and (min-width: 576px) {
  .StoryRow--index {
    min-width: 50px;
    font-size: 28px;
  }

  .StoryRow--right {
    margin-left: 20px;
  }
}